*, *::before, *::after {
    box-sizing: border-box;
}

em {
    font-style: normal;
}

a.sidebar_navlink, a.sidebar_trigger {
    text-decoration: none;
    color: inherit;
}

#app {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.dashboard_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.dashboard_sidebar {
    z-index: 1;
}

.sidebar_trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
}

.sidebar_trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.sidebar_nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56;
    color: rgba(255, 255, 255, 0.7);
}

.sidebar_nav:hover,
.sidebar_nav:focus,
.sidebar_trigger:focus + .sidebar_nav,
.sidebar_trigger:hover + .sidebar_nav {
    left: 0;
}

.sidebar_nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
}

.sidebar_nav ul li {
    width: 100%;
}

.sidebar_navlink {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
}

.sidebar_navlink em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
}

.sidebar_navlink:hover {
    background: #4d6276;
}

.sidebar_navlink > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
}

.sidebar_navlink > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar_nav > span {
    position: absolute;
    bottom:0;
    font-size: 0.8em;
    margin: 8px;
}

.nav_active {
    background: #061A2B;
}

@media (min-width: 42em) {
    .dashboard_content {
        margin-left: 4em;
    }

    .sidebar_trigger {
        display:none;
    }

    .sidebar_nav {
        width: 4em;
        left: 0;
    }

    .sidebar_nav>span {
        font-size: 0.5em;
    }

    .sidebar_nav:hover,
    .sidebar_nav:focus,
    .sidebar_trigger:hover + .sidebar_nav,
    .sidebar_trigger:focus + .sidebar_nav {
        width: 15em;
    }

    .sidebar_nav:hover >span,
    .sidebar_nav:focus >span,
    .sidebar_trigger:focus + .sidebar_nav>span,
    .sidebar_trigger:hover + .sidebar_nav>span {
        font-size: 0.8em;
    }

    .sidebar_nav ul {
        top: 1.3em;
    }
}

@media(min-width: 68em) {
    .dashboard_content {
        margin-left: 15em;
    }

    .sidebar_nav {
        width: 15em;
    }

    .sidebar_nav>span {
        font-size: 0.8em;
    }
}