html, body {
    height: 100%;
}

.parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lg-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.static {
    background-color:#ededed;
}

.static1 {
    background-color:#cad2ec;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg1::after {
    background-image: url('../images/images/front.png');
    background-size: cover;
    background-position: center;
}

.bg2::after {
    background-image: url('../images/images/phuc-long-579304-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.bg3::after {
    background-image: url('../images/images/help-2.jpg');
    background-size: cover;
    background-position: bottom right;
}

.bg4::after {
    background-image: url('../images/images/nam-hoang-625148-unsplash.jpg');
    background-size: cover;
    background-position: top center;
}

.bg5::after {
    background-image: url('../images/images/adele-payman-630506-unsplash (1).jpg');
    background-size: cover;
    background-position: center;
}

.bg6::after {
    background-image: url('../images/images/paul-morris-128425-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.section-text {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: right bottom;
    border-radius: 15px 50px;
}

.section-text .sm-text {
    font-size: 2rem;
}

.section-text .lg-text {
    font-size: 3rem;
    font-weight: 800;
}

.section1 {
    background-image: url('../images/images/O8RDNS0.jpg');
}

.section-head {
    margin-bottom: 2rem;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #cad2ec;
    font-size: 1.5rem;
}

.welcome-footer {
    padding: 1rem 3rem;
    position: relative;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color: #cad2ec;
}